/* add your CSS here */

* {
    box-sizing: border-box
}

html {
    background: #000;
}

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    max-width: 342px;
    background: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

img {
    width: 300px;
    margin-bottom: 10px;
}

.container, .info {
    border: 1px solid rgb(230, 230, 230);
    padding: 0px 10px 10px 10px;
}

.container {
    box-shadow: 5px 5px 1px rgba(0,0,0,0.1);
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

